{% extends "app/logged_in_base.html" %}
{% load i18n static %}

{% block content %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'Dashboard' attrs='async' %}
<!--[if lte IE 8]>
	<div class="alert alert-warning alert-dismissible">
		Dronebox cannot be used with this version of Internet Explorer. Could you please upgrade <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> to the latest version or use <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
	</div>
<![endif]-->
<div class="container">
	{% if no_tasks %}
	<div class="welcome ">
		<div class="row bg-welcome">
			<div id="order-first" class="col-lg-4 col-md-6">
				<img src="{% static 'app/img/landing/img-welcome.png' %}" class="img-fluid" alt="">
				<!-- <div class="button-exam">
					<a href="https://dronebox.io/public/task/0d4ce499-e610-4446-9a40-d1960d083b93/map/" target="_blank">
						<button class="btn primary rounded outlined small db-btn">
							<span class="btn-label">{% trans 'คลิกดู ภาพตัวอย่าง' %}</span>
						</button>
					</a>
				</div> -->
				<div class="button-exam">
					<a href="https://mapedia.co.th/dronebox_dataset/palmplace.zip" target="_blank">
						<button class="btn primary rounded outlined small db-btn">
							<span class="btn-label">{% trans 'โหลดข้อมูลภาพตัวอย่างสำหรับทดลองประมวลผล' %}</span>
						</button>
					</a>
				</div>
			</div>
			<div id="order-second" class="col-lg-8 col-md-6">
				<h3>
					{% trans 'เริ่มต้นใช้งาน Dronebox' %}
				</h3>
				<div class="howto-link">
					<a href="https://www.youtube.com/watch?v=yXkQrvwSi9M" target="_blank">
						<i class="fas fa-video mr-2"></i>
						<span>{% trans 'สามารถคลิกดูวิดีโอเพื่อเริ่มต้นการใช้งาน' %}</span>
					</a>
				</div>
				{% trans 'Select images and GCP' as upload_images %}
				<span>
					{% blocktrans %} หากต้องการสร้างแผนที่ให้กดปุ่ม -> Add Project จากนั้นให้อัปโหลดรูปถ่ายที่ได้จากโดรน โดยกดปุ่ม "{{ upload_images }}" หรือลากและวางภาพลงในโปรเจ็ค. {% endblocktrans %}
				</span>
				<ul>
					<li>{% trans 'คุณต้องมีรูปถ่ายจากโดรนอย่างน้อย 6 รูป' %}</li>
					<li>{% trans 'รูปถ่ายต้องทับซ้อนกัน 65% ขึ้นไป' %}</li>
					<li>{% trans 'สำหรับการประมวลแบบ 3 มิติที่ยอดเยี่ยม รูปถ่ายต้องทับซ้อนกันถึง 83%' %}</li>
					<li>{% trans 'คุณสามารถอัปโหลดรูปถ่ายที่ได้จากโดรน และไฟล์ GCP (จุดควบคุมภาพถ่าย) เพื่อเพิ่มความถูกต้องให้กับภาพ' %}</li>
				</ul>
			</div>
		</div>
	</div>
	{% endif %}

	<div id="dashboard-app" data-dashboard></div>

	
</div>
{% endblock %}